<h3>
    Please contact us through our e-mail Address below.
</h3>

<email address="info@fathymapies.com" content="Contact us">
   <p style= "color: deeppink;"> fathymatuzahara@fathymapies.com</p>
</email>
<h3>Thanks for your patronage!!!</h3>